<form class="form-profile container" style="margin-top: 40px;" (ngSubmit)="setChanges()">
    <div class="row">
        <div class="col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="textUsername">Username</label>
                <input type="text" class="form-control" id="textUsername" [placeholder]="username" disabled>
            </div>
        </div>

        <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" [placeholder]="email" disabled>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="numRollNumber">Roll Number</label>
                <input type="number" class="form-control" id="numRollNumber" [placeholder]="rollNumber" disabled>
            </div>
        </div>

        <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="textDepartment">Department</label>
                <div>
                    <button type="button" id="textDepartment" class="btn btnDepartment btn-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        {{ department }}
                    </button>
                    <div class="dropdown-menu" id="menuDepartment">
                        <a class="dropdown-item" (click)="department='Bio-Chemical Engineering'">Bio-Chemical Engineering</a>
                        <a class="dropdown-item" (click)="department='Chemical Engineering'">Chemical Engineering</a>
                        <a class="dropdown-item" (click)="department='Civil Engineering'">Civil Engineering</a>
                        <a class="dropdown-item" (click)="department='Computer Science & Engineering'">Computer Science & Engineering</a>
                        <a class="dropdown-item" (click)="department='Electronics Engineering'">Electronics Engineering</a>
                        <a class="dropdown-item" (click)="department='Electrical Engeering'">Electrical Engeering</a>
                        <a class="dropdown-item" (click)="department='Food Technology'">Food Technology</a>
                        <a class="dropdown-item" (click)="department='Infotmation Technology'">Infotmation Technology</a>
                        <a class="dropdown-item" (click)="department='Leather Technology'">Leather Technology</a>
                        <a class="dropdown-item" (click)="department='MCA'">MCA</a>
                        <a class="dropdown-item" (click)="department='MBA'">MBA</a>
                        <a class="dropdown-item" (click)="department='Mechanical Engeering'">Mechanical Engeering</a>
                        <a class="dropdown-item" (click)="department='M.Sc.'">M.Sc.</a>
                        <a class="dropdown-item" (click)="department='Oil Technology'">Oil Technology</a>
                        <a class="dropdown-item" (click)="department='Paint Technology'">Paint Technology</a>
                        <a class="dropdown-item" (click)="department='Plastic Technology'">Plastic Technology</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="passPassword">Password</label>
                <input type="password" name="txtPassword" class="form-control" id="passPassword" placeholder="Password" [(ngModel)]="password">
            </div>
        </div>

        <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="passConfirmPasword">Confirm Password</label>
                <input type="password" name="textConfirmPassword" class="form-control" id="passConfirmPasword" placeholder="Confirm Password" [(ngModel)]="cPassword">
            </div>
        </div>
    </div>
    <hr>
    <div class="pull-right">
        <a type="submit" role="button" class="btn btn-primary btn-large" (click)="setChanges()">Submit</a>
    </div>
</form>