<form class="form-profile">
    <div class="row">
        <div class="col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" disabled>
            </div>
        </div>

        <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" disabled>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Roll Number</label>
                <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Roll Number">
            </div>
        </div>

        <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Department</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Department">
            </div>
        </div>

        <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Password">
            </div>
        </div>

        <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Confirm Password">
            </div>
        </div>
    </div>
    <hr>
    <div class="pull-right">
        <a href="#" role="button" class="btn btn-primary btn-large">Submit</a>
    </div>
</form>