<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
<style>
    body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        height: 100%;
        width: 100%;

    }

    form {
        color: #f5ec00;
        font-size: 18px;
    }

    label {
        color: #000;
    }
</style>
<div id="emailVerification" class="container row">
    <div class="alert alert-warning col-md-12" role="alert" id="notes">
      <h4>NOTES</h4>
      <ul>
        <li>You have recieved a verification mail after you registered mail. Complete that process.</li>
        <li>You cannot send feedback untill you are verified.</li>
        <li>If somehow, you did not recieve the verification email then <a style="color: blue;" (click)="resendVerification()">resend the verification email</a></li>
      </ul>
    </div>
  </div>
<section id="feedbackForm" class="box" style="border:2px solid #43a7d5; width: 100%; margin-top: 40px;">
    <aside style="padding:15px">
        <p>Dear Student,<br>
            Thank you for taking the time to fill out this confidential questionnaire thoughtfully. The information will
            be
            used to assess the student's satisfaction level at the end of course so that improvement, if needed can be
            done.</p>

        <h4>Please rate the following on a scale of 5 [where, 5-Excellent; 1 -poor]</h4>

        <form class="column"method="post" target="_blank">
            <label>1. Availability of lecture plan as per syllabus in the begining of the semester and coverage
                of syllabus accordingly ?</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>2. Coverage of the syllabus.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>3. Regularity of the teacher.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>4. Knowledge of the subject.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>5. Ability of teacher to teach / explain confidently and answer queries in the class.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>6. Organization of the lecture.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>7. Audibility of teacher's voice during classes.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>8. Utilization of blackboard/other teaching aids.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>9. Summarizing of key points by the teacher at the end of a class.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>10. Understanding of the concepts using solution of problems/ numerical in the class.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>11. Respect and understanding for students.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>12. Encouragement to the students for asking questions in the class .</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>13. Tolerance to different opinions, arguments expressed in class.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>14. Availability of teacher beyond the class hours.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>15. Ability to adjust to the pace of class to the students' level of understanding.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>16. Regular assignments in the tutorial class.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>17. Checking and timely return of corrected assignments.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>18. Guidelines and tips on pattern of question papers and exams provided by the teacher.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>19.Level of mid-semester/class tests.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>20. Timely evaluation and showing of answer sheets of mid semester exams/class tests.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>21. Uniform coverage (unit wise) of syllabus as per prescribed guidelines in the end semester
                question paper.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>22. Level of end semester exams ?</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>23. Satisfaction level for the evaluation of end semester exam.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>24. Fairness of end semester exams evaluation.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>25. Efforts for motivating the students during the course of this subject.</label><br>
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>


            <div class="clear"></div>
            <hr class="survey-hr">
            <label for="m_3189847521540640526commentText">What suggestions would you give to improve this instructor's
                teaching ?</label><br /><br />
            <textarea cols="75" name="commentText" rows="5" style="width:320px"></textarea><br>
            <br>
            <div class="clear"></div>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label for="m_3189847521540640526commentText">What do you like best about this course ?</label><br /><br />
            <textarea cols="75" name="commentText" rows="5" style="width:320px"></textarea><br>
            <br>
            <div class="clear"></div>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label for="m_3189847521540640526commentText">What would you like to change about this course ?</label><br /><br />
            <textarea cols="75" name="commentText" rows="5" style="width:320px"></textarea><br>
            <br>
            <div class="clear"></div>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label for="m_3189847521540640526commentText">What do you think the instructor's greatest strengths are ?</label><br /><br />
            <textarea cols="75" name="commentText" rows="5" style="width:320px"></textarea><br>
            <br>
            <div class="clear"></div>
            <input style="background:#43a7d5;color:#fff;padding:12px;border:0" type="submit"
                value="Submit your review">&nbsp;

        </form>
    </aside>
</section>