<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
<style>
    body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        height: 100%;
        width: 100%;

    }

    form {
        color: #f5ec00;
        font-size: 18px;
    }

    label {
        color: #000;
    }
</style>
<div id="emailVerification" class="container row">
    <div class="alert alert-danger col-md-12" role="alert" id="notes">
        <h4>NOTES</h4>
        <ul>
            <li>You have recieved a verification mail after your registration. Check your inbox.</li>
            <li>You cannot send feedback untill you are verified.</li>
            <li>If somehow, you did not recieve the verification email then <a style="color: blue;"
                    (click)="resendVerification()">resend the verification email</a></li>
        </ul>
    </div>
</div>
<section id="feedbackForm" class="box" style="border:2px solid #43a7d5; width: 100%; margin-top: 40px;">
    <aside style="padding:15px">
        <p>Dear Student,<br>
            Thank you for taking the time to fill out this confidential questionnaire thoughtfully. The information will
            be
            used to assess the student's satisfaction level at the end of course so that improvement, if needed can be
            done.</p>

        <h4>Please rate the following on a scale of 5 [where, 5-Excellent; 1 -poor]</h4>

        <form class="column" method="post" target="_blank" (ngSubmit)="submitFeedback()">
            <label>1. Availability of lecture plan as per syllabus in the begining of the semester and coverage
                of syllabus accordingly ?</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_1" name="rating1" value="5" /><label class="full" for="star5_1"
                    title="Excellent - 5 stars" (click)="question1=5"></label>
                <input type="radio" id="star4_1" name="rating1" value="4" /><label class="full" for="star4_1"
                    title="Very good - 4 stars" (click)="question1=4"></label>
                <input type="radio" id="star3_1" name="rating1" value="3" /><label class="full" for="star3_1"
                    title="Good - 3 stars" (click)="question1=3"></label>
                <input type="radio" id="star2_1" name="rating1" value="2" /><label class="full" for="star2_1"
                    title="Average - 2 stars" (click)="question1=2"></label>
                <input type="radio" id="star1_1" name="rating1" value="1" /><label class="full" for="star1_1"
                    title="Poor - 1 star" (click)="question1=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>2. Coverage of the syllabus.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_2" name="rating2" value="5" /><label class="full" for="star5_2"
                    title="Excellent - 5 stars" (click)="question2=5"></label>
                <input type="radio" id="star4_2" name="rating2" value="4" /><label class="full" for="star4_2"
                    title="Very good - 4 stars" (click)="question2=4"></label>
                <input type="radio" id="star3_2" name="rating2" value="3" /><label class="full" for="star3_2"
                    title="Good - 3 stars" (click)="question2=3"></label>
                <input type="radio" id="star2_2" name="rating2" value="2" /><label class="full" for="star2_2"
                    title="Average - 2 stars" (click)="question2=2"></label>
                <input type="radio" id="star1_2" name="rating2" value="1" /><label class="full" for="star1_2"
                    title="Poor - 1 star" (click)="question2=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>3. Regularity of the teacher.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_3" name="rating3" value="5" /><label class="full" for="star5_3"
                    title="Excellent - 5 stars" (click)="question3=5"></label>
                <input type="radio" id="star4_3" name="rating3" value="4" /><label class="full" for="star4_3"
                    title="Very good - 4 stars" (click)="question3=4"></label>
                <input type="radio" id="star3_3" name="rating3" value="3" /><label class="full" for="star3_3"
                    title="Good - 3 stars" (click)="question3=3"></label>
                <input type="radio" id="star2_3" name="rating3" value="2" /><label class="full" for="star2_3"
                    title="Average - 2 stars" (click)="question3=2"></label>
                <input type="radio" id="star1_3" name="rating3" value="1" /><label class="full" for="star1_3"
                    title="Poor - 1 star" (click)="question3=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>4. Knowledge of the subject.</label><br>
                        <fieldset class="rating">
                <input type="radio" id="star5_4" name="rating4" value="5" /><label class="full" for="star5_4"
                    title="Excellent - 5 stars" (click)="question4=5"></label>
                <input type="radio" id="star4_4" name="rating4" value="4" /><label class="full" for="star4_4"
                    title="Very good - 4 stars" (click)="question4=4"></label>
                <input type="radio" id="star3_4" name="rating4" value="3" /><label class="full" for="star3_4"
                    title="Good - 3 stars" (click)="question4=3"></label>
                <input type="radio" id="star2_4" name="rating4" value="2" /><label class="full" for="star2_4"
                    title="Average - 2 stars" (click)="question4=2"></label>
                <input type="radio" id="star1_4" name="rating4" value="1" /><label class="full" for="star1_4"
                    title="Poor - 1 star" (click)="question4=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>5. Ability of teacher to teach / explain confidently and answer queries in the class.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_5" name="rating5" value="5" /><label class="full" for="star5_5"
                    title="Excellent - 5 stars" (click)="question5=5"></label>
                <input type="radio" id="star4_5" name="rating5" value="4" /><label class="full" for="star4_5"
                    title="Very good - 4 stars" (click)="question5=4"></label>
                <input type="radio" id="star3_5" name="rating5" value="3" /><label class="full" for="star3_5"
                    title="Good - 3 stars" (click)="question5=3"></label>
                <input type="radio" id="star2_5" name="rating5" value="2" /><label class="full" for="star2_5"
                    title="Average - 2 stars" (click)="question5=2"></label>
                <input type="radio" id="star1_5" name="rating5" value="1" /><label class="full" for="star1_5"
                    title="Poor - 1 star" (click)="question5=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>6. Organization of the lecture.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_6" name="rating6" value="5" /><label class="full" for="star5_6"
                    title="Excellent - 5 stars" (click)="question6=5"></label>
                <input type="radio" id="star4_6" name="rating6" value="4" /><label class="full" for="star4_6"
                    title="Very good - 4 stars" (click)="question6=4"></label>
                <input type="radio" id="star3_6" name="rating6" value="3" /><label class="full" for="star3_6"
                    title="Good - 3 stars" (click)="question6=3"></label>
                <input type="radio" id="star2_6" name="rating6" value="2" /><label class="full" for="star2_6"
                    title="Average - 2 stars" (click)="question6=2"></label>
                <input type="radio" id="star1_6" name="rating6" value="1" /><label class="full" for="star1_6"
                    title="Poor - 1 star" (click)="question6=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>7. Audibility of teacher's voice during classes.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_7" name="rating7" value="5" /><label class="full" for="star5_7"
                    title="Excellent - 5 stars" (click)="question7=5"></label>
                <input type="radio" id="star4_7" name="rating7" value="4" /><label class="full" for="star4_7"
                    title="Very good - 4 stars" (click)="question7=4"></label>
                <input type="radio" id="star3_7" name="rating7" value="3" /><label class="full" for="star3_7"
                    title="Good - 3 stars" (click)="question7=3"></label>
                <input type="radio" id="star2_7" name="rating7" value="2" /><label class="full" for="star2_7"
                    title="Average - 2 stars" (click)="question7=2"></label>
                <input type="radio" id="star1_7" name="rating7" value="1" /><label class="full" for="star1_7"
                    title="Poor - 1 star" (click)="question7=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>8. Utilization of blackboard/other teaching aids.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_8" name="rating8" value="5" /><label class="full" for="star5_8"
                    title="Excellent - 5 stars" (click)="question8=5"></label>
                <input type="radio" id="star4_8" name="rating8" value="4" /><label class="full" for="star4_8"
                    title="Very good - 4 stars" (click)="question8=4"></label>
                <input type="radio" id="star3_8" name="rating8" value="3" /><label class="full" for="star3_8"
                    title="Good - 3 stars" (click)="question8=3"></label>
                <input type="radio" id="star2_8" name="rating8" value="2" /><label class="full" for="star2_8"
                    title="Average - 2 stars" (click)="question8=2"></label>
                <input type="radio" id="star1_8" name="rating8" value="1" /><label class="full" for="star1_8"
                    title="Poor - 1 star" (click)="question8=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>9. Summarizing of key points by the teacher at the end of a class.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_9" name="rating9" value="5" /><label class="full" for="star5_9"
                    title="Excellent - 5 stars" (click)="question9=5"></label>
                <input type="radio" id="star4_9" name="rating9" value="4" /><label class="full" for="star4_9"
                    title="Very good - 4 stars" (click)="question9=4"></label>
                <input type="radio" id="star3_9" name="rating9" value="3" /><label class="full" for="star3_9"
                    title="Good - 3 stars" (click)="question9=3"></label>
                <input type="radio" id="star2_9" name="rating9" value="2" /><label class="full" for="star2_9"
                    title="Average - 2 stars" (click)="question9=2"></label>
                <input type="radio" id="star1_9" name="rating9" value="1" /><label class="full" for="star1_9"
                    title="Poor - 1 star" (click)="question9=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>10. Understanding of the concepts using solution of problems/ numerical in the class.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_10" name="rating10" value="5" /><label class="full" for="star5_10"
                    title="Excellent - 5 stars" (click)="question10=5"></label>
                <input type="radio" id="star4_10" name="rating10" value="4" /><label class="full" for="star4_10"
                    title="Very good - 4 stars" (click)="question10=4"></label>
                <input type="radio" id="star3_10" name="rating10" value="3" /><label class="full" for="star3_10"
                    title="Good - 3 stars" (click)="question10=3"></label>
                <input type="radio" id="star2_10" name="rating10" value="2" /><label class="full" for="star2_10"
                    title="Average - 2 stars" (click)="question10=2"></label>
                <input type="radio" id="star1_10" name="rating10" value="1" /><label class="full" for="star1_10"
                    title="Poor - 1 star" (click)="question10=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>11. Respect and understanding for students.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_11" name="rating11" value="5" /><label class="full" for="star5_11"
                    title="Excellent - 5 stars" (click)="question11=5"></label>
                <input type="radio" id="star4_11" name="rating11" value="4" /><label class="full" for="star4_11"
                    title="Very good - 4 stars" (click)="question11=4"></label>
                <input type="radio" id="star3_11" name="rating11" value="3" /><label class="full" for="star3_11"
                    title="Good - 3 stars" (click)="question11=3"></label>
                <input type="radio" id="star2_11" name="rating11" value="2" /><label class="full" for="star2_11"
                    title="Average - 2 stars" (click)="question11=2"></label>
                <input type="radio" id="star1_11" name="rating11" value="1" /><label class="full" for="star1_11"
                    title="Poor - 1 star" (click)="question11=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>12. Encouragement to the students for asking questions in the class .</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_12" name="rating12" value="5" /><label class="full" for="star5_12"
                    title="Excellent - 5 stars" (click)="question12=5"></label>
                <input type="radio" id="star4_12" name="rating12" value="4" /><label class="full" for="star4_12"
                    title="Very good - 4 stars" (click)="question12=4"></label>
                <input type="radio" id="star3_12" name="rating12" value="3" /><label class="full" for="star3_12"
                    title="Good - 3 stars" (click)="question12=3"></label>
                <input type="radio" id="star2_12" name="rating12" value="2" /><label class="full" for="star2_12"
                    title="Average - 2 stars" (click)="question12=2"></label>
                <input type="radio" id="star1_12" name="rating12" value="1" /><label class="full" for="star1_12"
                    title="Poor - 1 star" (click)="question12=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>13. Tolerance to different opinions, arguments expressed in class.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_13" name="rating13" value="5" /><label class="full" for="star5_13"
                    title="Excellent - 5 stars" (click)="question13=5"></label>
                <input type="radio" id="star4_13" name="rating13" value="4" /><label class="full" for="star4_13"
                    title="Very good - 4 stars" (click)="question13=4"></label>
                <input type="radio" id="star3_13" name="rating13" value="3" /><label class="full" for="star3_13"
                    title="Good - 3 stars" (click)="question13=3"></label>
                <input type="radio" id="star2_13" name="rating13" value="2" /><label class="full" for="star2_13"
                    title="Average - 2 stars" (click)="question13=2"></label>
                <input type="radio" id="star1_13" name="rating13" value="1" /><label class="full" for="star1_13"
                    title="Poor - 1 star" (click)="question13=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>14. Availability of teacher beyond the class hours.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_14" name="rating14" value="5" /><label class="full" for="star5_14"
                    title="Excellent - 5 stars" (click)="question14=5"></label>
                <input type="radio" id="star4_14" name="rating14" value="4" /><label class="full" for="star4_14"
                    title="Very good - 4 stars" (click)="question14=4"></label>
                <input type="radio" id="star3_14" name="rating14" value="3" /><label class="full" for="star3_14"
                    title="Good - 3 stars" (click)="question14=3"></label>
                <input type="radio" id="star2_14" name="rating14" value="2" /><label class="full" for="star2_14"
                    title="Average - 2 stars" (click)="question14=2"></label>
                <input type="radio" id="star1_14" name="rating14" value="1" /><label class="full" for="star1_14"
                    title="Poor - 1 star" (click)="question14=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>15. Ability to adjust to the pace of class to the students' level of understanding.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_15" name="rating15" value="5" /><label class="full" for="star5_15"
                    title="Excellent - 5 stars" (click)="question15=5"></label>
                <input type="radio" id="star4_15" name="rating15" value="4" /><label class="full" for="star4_15"
                    title="Very good - 4 stars" (click)="question15=4"></label>
                <input type="radio" id="star3_15" name="rating15" value="3" /><label class="full" for="star3_15"
                    title="Good - 3 stars" (click)="question15=3"></label>
                <input type="radio" id="star2_15" name="rating15" value="2" /><label class="full" for="star2_15"
                    title="Average - 2 stars" (click)="question15=2"></label>
                <input type="radio" id="star1_15" name="rating15" value="1" /><label class="full" for="star1_15"
                    title="Poor - 1 star" (click)="question1=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>16. Regular assignments in the tutorial class.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_16" name="rating16" value="5" /><label class="full" for="star5_16"
                    title="Excellent - 5 stars" (click)="question16=5"></label>
                <input type="radio" id="star4_16" name="rating16" value="4" /><label class="full" for="star4_16"
                    title="Very good - 4 stars" (click)="question16=4"></label>
                <input type="radio" id="star3_16" name="rating16" value="3" /><label class="full" for="star3_16"
                    title="Good - 3 stars" (click)="question16=3"></label>
                <input type="radio" id="star2_16" name="rating16" value="2" /><label class="full" for="star2_16"
                    title="Average - 2 stars" (click)="question16=2"></label>
                <input type="radio" id="star1_16" name="rating16" value="1" /><label class="full" for="star1_16"
                    title="Poor - 1 star" (click)="question16=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>17. Checking and timely return of corrected assignments.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_17" name="rating17" value="5" /><label class="full" for="star5_17"
                    title="Excellent - 5 stars" (click)="question17=5"></label>
                <input type="radio" id="star4_17" name="rating17" value="4" /><label class="full" for="star4_17"
                    title="Very good - 4 stars" (click)="question17=4"></label>
                <input type="radio" id="star3_17" name="rating17" value="3" /><label class="full" for="star3_17"
                    title="Good - 3 stars" (click)="question17=3"></label>
                <input type="radio" id="star2_17" name="rating17" value="2" /><label class="full" for="star2_17"
                    title="Average - 2 stars" (click)="question17=2"></label>
                <input type="radio" id="star1_17" name="rating17" value="1" /><label class="full" for="star1_17"
                    title="Poor - 1 star" (click)="question17=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>18. Guidelines and tips on pattern of question papers and exams provided by the teacher.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_18" name="rating18" value="5" /><label class="full" for="star5_18"
                    title="Excellent - 5 stars" (click)="question18=5"></label>
                <input type="radio" id="star4_18" name="rating18" value="4" /><label class="full" for="star4_18"
                    title="Very good - 4 stars" (click)="question18=4"></label>
                <input type="radio" id="star3_18" name="rating18" value="3" /><label class="full" for="star3_18"
                    title="Good - 3 stars" (click)="question18=3"></label>
                <input type="radio" id="star2_18" name="rating18" value="2" /><label class="full" for="star2_18"
                    title="Average - 2 stars" (click)="question18=2"></label>
                <input type="radio" id="star1_18" name="rating18" value="1" /><label class="full" for="star1_18"
                    title="Poor - 1 star" (click)="question18=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>19.Level of mid-semester/class tests.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_19" name="rating19" value="5" /><label class="full" for="star5_19"
                    title="Excellent - 5 stars" (click)="question19=5"></label>
                <input type="radio" id="star4_19" name="rating19" value="4" /><label class="full" for="star4_19"
                    title="Very good - 4 stars" (click)="question19=4"></label>
                <input type="radio" id="star3_19" name="rating19" value="3" /><label class="full" for="star3_19"
                    title="Good - 3 stars" (click)="question19=3"></label>
                <input type="radio" id="star2_19" name="rating19" value="2" /><label class="full" for="star2_19"
                    title="Average - 2 stars" (click)="question19=2"></label>
                <input type="radio" id="star1_19" name="rating19" value="1" /><label class="full" for="star1_19"
                    title="Poor - 1 star" (click)="question19=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>20. Timely evaluation and showing of answer sheets of mid semester exams/class tests.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_20" name="rating20" value="5" /><label class="full" for="star5_20"
                    title="Excellent - 5 stars" (click)="question20=5"></label>
                <input type="radio" id="star4_20" name="rating20" value="4" /><label class="full" for="star4_20"
                    title="Very good - 4 stars" (click)="question20=4"></label>
                <input type="radio" id="star3_20" name="rating20" value="3" /><label class="full" for="star3_20"
                    title="Good - 3 stars" (click)="question20=3"></label>
                <input type="radio" id="star2_20" name="rating20" value="2" /><label class="full" for="star2_20"
                    title="Average - 2 stars" (click)="question20=2"></label>
                <input type="radio" id="star1_20" name="rating20" value="1" /><label class="full" for="star1_20"
                    title="Poor - 1 star" (click)="question20=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>21. Uniform coverage (unit wise) of syllabus as per prescribed guidelines in the end semester
                question paper.</label><br>
                <fieldset class="rating">
                    <input type="radio" id="star5_21" name="rating21" value="5" /><label class="full" for="star5_21"
                        title="Excellent - 5 stars" (click)="question21=5"></label>
                    <input type="radio" id="star4_21" name="rating21" value="4" /><label class="full" for="star4_21"
                        title="Very good - 4 stars" (click)="question21=4"></label>
                    <input type="radio" id="star3_21" name="rating21" value="3" /><label class="full" for="star3_21"
                        title="Good - 3 stars" (click)="question21=3"></label>
                    <input type="radio" id="star2_21" name="rating21" value="2" /><label class="full" for="star2_21"
                        title="Average - 2 stars" (click)="question21=2"></label>
                    <input type="radio" id="star1_21" name="rating21" value="1" /><label class="full" for="star1_21"
                        title="Poor - 1 star" (click)="question21=1"></label>
                </fieldset>
                <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>22. Level of end semester exams ?</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_22" name="rating22" value="5" /><label class="full" for="star5_22"
                    title="Excellent - 5 stars" (click)="question22=5"></label>
                <input type="radio" id="star4_22" name="rating22" value="4" /><label class="full" for="star4_22"
                    title="Very good - 4 stars" (click)="question22=4"></label>
                <input type="radio" id="star3_22" name="rating22" value="3" /><label class="full" for="star3_22"
                    title="Good - 3 stars" (click)="question22=3"></label>
                <input type="radio" id="star2_22" name="rating22" value="2" /><label class="full" for="star2_22"
                    title="Average - 2 stars" (click)="question22=2"></label>
                <input type="radio" id="star1_22" name="rating22" value="1" /><label class="full" for="star1_22"
                    title="Poor - 1 star" (click)="question22=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>23. Satisfaction level for the evaluation of end semester exam.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_23" name="rating23" value="5" /><label class="full" for="star5_23"
                    title="Excellent - 5 stars" (click)="question23=5"></label>
                <input type="radio" id="star4_23" name="rating23" value="4" /><label class="full" for="star4_23"
                    title="Very good - 4 stars" (click)="question23=4"></label>
                <input type="radio" id="star3_23" name="rating23" value="3" /><label class="full" for="star3_23"
                    title="Good - 3 stars" (click)="question23=3"></label>
                <input type="radio" id="star2_23" name="rating23" value="2" /><label class="full" for="star2_23"
                    title="Average - 2 stars" (click)="question23=2"></label>
                <input type="radio" id="star1_23" name="rating23" value="1" /><label class="full" for="star1_23"
                    title="Poor - 1 star" (click)="question23=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>24. Fairness of end semester exams evaluation.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_24" name="rating24" value="5" /><label class="full" for="star5_24"
                    title="Excellent - 5 stars" (click)="question24=5"></label>
                <input type="radio" id="star4_24" name="rating24" value="4" /><label class="full" for="star4_24"
                    title="Very good - 4 stars" (click)="question24=4"></label>
                <input type="radio" id="star3_24" name="rating24" value="3" /><label class="full" for="star3_24"
                    title="Good - 3 stars" (click)="question24=3"></label>
                <input type="radio" id="star2_24" name="rating24" value="2" /><label class="full" for="star2_24"
                    title="Average - 2 stars" (click)="question24=2"></label>
                <input type="radio" id="star1_24" name="rating24" value="1" /><label class="full" for="star1_24"
                    title="Poor - 1 star" (click)="question24=1"></label>
            </fieldset>
            <br>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label>25. Efforts for motivating the students during the course of this subject.</label><br>
            <fieldset class="rating">
                <input type="radio" id="star5_25" name="rating25" value="5" /><label class="full" for="star5_25"
                    title="Excellent - 5 stars" (click)="question25=5"></label>
                <input type="radio" id="star4_25" name="rating25" value="4" /><label class="full" for="star4_25"
                    title="Very good - 4 stars" (click)="question25=4"></label>
                <input type="radio" id="star3_25" name="rating25" value="3" /><label class="full" for="star3_25"
                    title="Good - 3 stars" (click)="question25=3"></label>
                <input type="radio" id="star2_25" name="rating25" value="2" /><label class="full" for="star2_25"
                    title="Average - 2 stars" (click)="question25=2"></label>
                <input type="radio" id="star1_25" name="rating25" value="1" /><label class="full" for="star1_25"
                    title="Poor - 1 star" (click)="question25=1"></label>
            </fieldset>
            <br>


            <div class="clear"></div>
            <hr class="survey-hr">
            <label for="m_3189847521540640526commentText">26. What suggestions would you give to improve this
                instructor's
                teaching ?</label><br /><br />
            <textarea cols="75" id="question26" [(ngModel)]='question26' name="question26" rows="5"
                style="width:320px"></textarea><br>
            <br>
            <div class="clear"></div>

            <div class="clear"></div>
            <hr class="survey-hr">
            <label for="m_3189847521540640526commentText">27. What do you like best about this course
                ?</label><br /><br />
            <textarea cols="75" id="question27" [(ngModel)]='question27' name="question27" rows="5"
                style="width:320px"></textarea><br>
            <br>
            <div class="clear"></div>


            <div class="clear"></div>
            <hr class="survey-hr">
            <label for="m_3189847521540640526commentText">28. What do you think the instructor's greatest strengths are
                ?</label><br /><br />
            <textarea cols="75" id="question28" [(ngModel)]='question28' name="question28" rows="5"
                style="width:320px"></textarea><br>
            <br>
            <div class="clear"></div>
            <input style="background:#43a7d5;color:#fff;padding:12px;border:0" type="submit"
                value="Submit your review">&nbsp;

        </form>
    </aside>
</section>